.g-map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.map-container {
	width: 100%;
	height: 100%;
}

.gmnoprint {
	display: none;
}

.track-btn {
	padding: 5px;
	z-index: 1;
	position: absolute;
	right: 20px;
	top: 100px;
	height: 50px;
	width: 150px;
	font: 16px Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px grey;
	opacity: 0.85;
	transition: opacity .5s ease-in-out;
}

.track-btn:hover {
	opacity: 1;
}

.poi-list {
	z-index: 1;
	position: absolute;
	margin: 100px;
	margin-left: 20px;
	display: block;
	padding: 0px;
	list-style-type: none;
	font: 16px Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px grey;
	opacity: 0.85;
	transition: opacity .5s ease-in-out;
}

.poi-list:hover {
	opacity: 1;
}

.poi-item {
	padding: 5px;
	background-color: #ffffff;
	height: 50px;
	width: 250px;
}

.poi-item:hover {
	background-color: #F0F0F0;
}

a {
	cursor: pointer;
}

.list-head {
	cursor: pointer;
	padding: 5px;
	background-color: #F0F0F0;
	height: 50px;
	width: 250px;
}

.li-item {
	cursor: pointer;
}

.li-item:hover {
	background-color: #F0F0F0;
}

.list-head:hover {

}

.item-icon {
	padding: 10px;
	height: 30px;
	width: 30px;
	display: inline;
}

.item-text {
	position: absolute;
	margin: auto;
	display: inline;
	margin-left: 15px;
	height: 60px;
	line-height: 50px;
}

.header-basic {
	z-index: 1;
	position: absolute;
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	opacity: 0.85;
	transition: opacity .5s ease-in-out;
}

.header-basic:hover {
	opacity: 1;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}


.header-basic .header-limiter h1 {
	float: left;
	font: normal 28px Play, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
	height: 100%;

}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  background: url(http://moodmap.themaninblue.com/images/map.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.login-card {
  position: absolute;
  padding: 40px;
  width: 20%;
  background-color: #F7F7F7;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  font: normal 28px Play, Arial, Helvetica, sans-serif;
}

#service {
  color: #5383d3;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}