{{#g-map lat=model.lat lng=model.lng zoom=15 as |context|}}
	{{#g-map-marker context lat=model.lat lng=model.lng as |markerContext|}}
		{{#g-map-infowindow markerContext}}
  			<h3>{{model.name}}</h3>
  			<p>Description: {{model.description}}</p>
  			<ul>
  				{{#if model.state.motor_running}}
      				<li>Motor running</li>
      			{{/if}}
      			{{#if model.state.windows_up}}
      				<li>Windows up</li>
      			{{/if}}
      			{{#if model.state.car_locked}}
      				<li>Car locked</li>
      			{{/if}}
  			</ul>
		{{/g-map-infowindow}}
	{{/g-map-marker}}
{{/g-map}}