<header class="header-basic">
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>

	<div class="header-limiter">

		<h1><a href="#">Tracking<span>service</span></a></h1>

		<nav>
			<a href="#" class="selected">Map</a>
			<a href="#">New POI</a>
			<a href="#">Logout</a>
		</nav>
	</div>

</header>

<body>
	{{outlet}}
</body>